:root {
  --darkGrey: #707070;
  --mmWhite: #ddafa2;
  --mmBrightWhite: #eaccc3;
  --mmDarkRed: #310303;
  --mmDarkRedShade: rgba(49, 3, 3, 0.65);
}
html {
  scroll-behavior: smooth;
}
body {
  /* width: 100%; */
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/bgwood.jpg");
  background-repeat: repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hole {
  color: lightblue;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  list-style-type: none;
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid black; */
  margin: 5px;
}
.marbleRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style-type: none;
}

.divotContainer {
  display: flex;
  justify-content: space-between;
}
.divot {
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #353535;
}

.ul {
  margin: 5px 0 0 5px;
}
.ur {
  margin: 5px 5px 0 0;
}

.bl {
  margin: 0 0 5px 5px;
}
.br {
  margin: 0 5px 5px 0;
}

.answerBlack {
  background-image: url(./images/black.png);
  filter: drop-shadow(0 3mm 2mm #101010);
  transition: 2s ease-in-out;
}
.marble {
  background-size: 52px;
  background-position: -1px -1px;
  border: none;
}

.black {
  background-image: url(./images/hole.gif);
  border: 1px solid var(--darkGrey);
  transition: 2s ease-in-out;
}
.red {
  background-image: url("./images/marble-red.png");
  background-size: fit-content;
  filter: drop-shadow(0 3mm 2mm #381111);
  border: none;
  transition: 0.15s ease-in-out;
}
.purple {
  background-image: url("./images/marble-purple.png");
  filter: drop-shadow(0 3mm 2mm #3f1d3b);
  border: none;
  transition: 0.15s ease-in-out;
}
.green {
  background-image: url("./images/marble-green.png");
  filter: drop-shadow(0 3mm 2mm #172a14);
  border: none;
  transition: 0.15s ease-in-out;
}
.yellow {
  background-image: url("./images/marble-yellow.png");
  filter: drop-shadow(0 3mm 2mm #3f3d1d);
  border: none;
  transition: 0.15s ease-in-out;
}
.blue {
  background-image: url("./images/marble-blue.png");
  filter: drop-shadow(0 3mm 2mm #17183f);
  border: none;
  transition: 0.15s ease-in-out;
}

footer {
  margin-top: 50px;
  color: #bd664f;
}
